<h1 style="text-decoration:underline;">Welcome to the Studios Index</h1><br>
<h2>Below you will find all of the studios and locations of each</h2><br>

<% @studios.each do |studio| %>
  <h3>
    Name: <%= "#{studio.name}" %><br>
    Location: <%= "#{studio.location}" %><br>
    Movies: <%  studio.movies.each do |movie| %>
      <%= "#{movie.title}, " %>
    <% end %>
  </h3>
<% end %>
